/* Dropdown Button */
.Name {
  position: fixed;
  margin: 25px auto 50px 46%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  top:0px;
  right: 0px;
  padding: 70px 50px 0 10px;
}

.toc-holder {
  text-align: right;
/*  //min-width: 60px;*/
  z-index: 30000;

}

.toc-holder a {
  text-decoration: none;
 -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
  transition: all .7s ease;
}

.toc-holder li li a {
  padding-left: 60px;
}

.toc-holder li li li a {
  padding-left: 90px;
}

.toc-holder li a:hover {
  color: #000;
/*  padding-left: 35px;*/
}

.toc-holder li li a:hover {
  padding-left: 65px;
}

.toc-holder li li li a:hover {
  padding-left: 95px;
}

.toc-holder {
  position: fixed;
  right: 0;
}

a.toc-link {
  color: #ccc;
  position: relative;
  display: block;
  z-index: 1000;
  min-width:200px;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-top: 24px;
  width: 100%;
  background: #fafafa;
}

a.toc-link:hover {
  background: #fafafa;
}

.toc-link span {
  font-size: 30px;
  margin-right: 70px;
  display: inline-block;
  -webkit-transition: -webkit-transform .4s ease;
  -moz-transition: -moz-transform .4s ease;
  -o-transition: -o-transform .4s ease;
  -ms-transition: -ms-transform .4s ease;
  transition: transform .4s ease;
}

.toc-link span.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toc {
  position: absolute;
  z-index: 10;
  text-align: center;
  opacity: 0.5;
  right:0px;
  background: #fafafa;
  width: auto;
  padding-top: 60px;
}

ul.toc {
  -webkit-padding-start: 0px;
}

.toc-h1 a {
  color: #333;
  padding: 5px 20px 5px 30px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.closed {
  display: block;
}

.top-link {
  display: block;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  right: 2%;
  padding: 8px 16px 0 16px;
  height: 30px;
  font-size: 14px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}

.copyright {
  display: inline;
  margin-left: 25%;
}

.course {
  margin-left: 80px;
  text-align: left;
}

.footer-main {
  display: inline;
  margin-left: 34%;
}

.footer-link {
  display: inline;
}

.Navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: white;
  margin-bottom: 10px;
  z-index: 1;
  width: 100%;
}

.icon {
  position: relative;
  float: left;
  bottom: 8px;
  right: 1%;
  width: 65px;
  height: 65px;
}

.treasurer{
  position: relative;
  float: left;
  bottom: 8px;
  right: 1%;
  width: 65px;
  height: 65px;
  padding-right: 15px;
}

.description{

}

.ieee{
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-left: 10%;
  font-size: 11px;
  letter-spacing: 0.3em;
}

.toc-h1 {
  text-align: center;
  list-style: none;
  text-decoration: none;
  width: auto;
}

/*1. dropdown ICON*/
.dropbtn {
  position: fixed;
  display: inline;
  border: none;
  opacity: 0.5;
  outline: none;
  color: black;
  background-color: #fafafa;
  margin: 0px auto 40px 10px;
  padding: 15px 1em 16px 40px;
  font-size: 23px;
}

/* Dropdown button on hover & focus*/
.dropbtn:hover, .dropbtn:focus {
  background-color: ;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F3E9E7;
  min-width: 250px;
  z-index: 1000;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.answer {
  color: white;
}

.top-container p {
  color: white;
  text-align: center;
}

.top-container {
  background-color: #E3D0AE;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* .middle-container {
  background-color: #ddd;
  padding-top: 25px;
  padding-bottom:2.5px;
} */

.bottom-container {
  background-color: white;
  padding: 50px auto 30px auto;
  margin: 0 auto 8px auto;
}

.workexperience-description{
  width: 50%;
  text-align: left;
  /* font-family: 'Open Sans', sans-serif; */
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 11px;
  text-transform: uppercase;
  color: #333333;
}

#resume{
  background-color: #ddd;
  margin-top: -30px;
  padding-top: 125px;
  padding-bottom: 100px;
  text-align: left;
  line-height: 34px;
  font-size: 17px;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#resume .inner {
    width: 85%;
}

.resumetitle {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-left: 10%;
  font-size: 11px;
  letter-spacing: 0.3em;
  white-space: nowrap;
}

.workexperience-title{
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-left: 10%;
  margin-top:-120px;
  font-size: 11px;
  letter-spacing: 0.3em;
}

.resumeDescription {
  color: #333333;
  text-align: left;
  height: auto;
  margin-top: -40px;
  padding-top: 60px;
  line-height: 34px;
  margin-left: 90px;
  -webkit-font-smoothing: antialiased;
}

/* .skills {
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  margin: 100px auto 100px auto;
  text-align: left;
} */

.skill-row{
  background-color: #EFEBEC;
  padding-top: 60px;
}

.tools {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 50px;
}


.tagline {
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 50px;
    font-size: 11px;
    text-transform: uppercase;
}

.right {
    float: right;
}

.section-tagline {
    text-align: center;
    /* font-family: 'Open Sans', sans-serif; */
    letter-spacing: 0.3em;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #CEC8C8;
    font-size: 11px;
    text-transform: uppercase;
}

a {
  color: #3a92c8;
  text-decoration: none;
}

b {
    font-weight: bold;
}

body {
    margin: 0;
    font-size: 19px;
    /* font-family: 'Karla', sans-serif; */
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

h2 {
  margin-right: 5%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 0.3em;
  padding-bottom: 50px;
}

h3 {
  /* font-family: 'Montserrat', sans-serif; */
}

p {
    font-family: 'Karla', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img.icon {
    width: 65px;
    height: 65px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    display: block;
    margin-left: -95px;
    margin-top: 5px;
    background-color: #fff;
    opacity: 0.8;
    z-index: 0;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .4s ease;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#EasyTaxImage{
  width:100%;
  height:75%;
}

#frontimage img {
  margin-top: 100px;
  width: 50%;
  min-width: 800px;
}

#frontimage {
  background-color: #4C5364;
  width: 100%;
}

#console {
  background-color: #383737;
  margin: auto;
  top: 30px;
  padding: 30px 1em 30px 3em;
  font-family: 'Monaco', 'Courier New';
  font-size: 13px;
  position: relative;
  color: white;
  height: 800px;
  width: 800px;
}

/* #institution {
  font-size: 12px;
  margin-right: 51%;
  white-space: nowrap;
} */

#city-treasurer{
  font-size: 12px;
  white-space: nowrap;
}

#position{
  font-size: 12px;
  margin-right: 51%;
  white-space: nowrap;
  margin-right: 53.6%;
}

#Udemy {
  margin-right: 62%;
}

/* #program {
  font-size: 12px;
  margin-right: 13.4%;
  white-space: nowrap;
} */

#IEEE{
  font-size: 12px;
  white-space: nowrap;
  margin-right: 35.6%;
}

#program-web {
  margin-right: 45%;
}

/* #time {
  font-size: 12px;
  white-space: nowrap;
} */

#time-IEEE{
  font-size: 12px;
  margin-left:-5%;;
  white-space: nowrap;
}

#tools-humber {
  margin-left: 0%;
}

#tools-udemy {
  margin-left: -22%;
}

#tools-IEEE{
  margin-left: 9%;
}

/* #city {
  font-size: 12px;
  white-space: nowrap;
} */

#relevantCourse {
  font-size: 14px;
  color: #333333;
  text-align: left;
  margin-left: 10%;
  white-space: nowrap;
}

#udemy-relevantCourse{
  font-size: 14px;
  color: #333333;
  text-align: left;
  margin-left:9%;
  white-space: nowrap;
}

#work {
    background: #eee;
    height: auto;
    margin-top: -30px;
    text-align: center;
    padding: 60px 0 80px 0;
    font-size: 26px;
    line-height: 40px;
}

#EasyTaxLogo{
  border:none;
  height: 460.7px;
  width: 440px;
}


/*Final Section*/

.inner {
    max-width: 830px;
    margin: 0 auto;
}

.inner-work {
    max-width: 950px;
    margin: 0 auto;
}

.portfolio-thumb {
    width: 45%;
    margin: 20px;
    background-color: white;
    display: inline-block;
}

.portfolio-thumb a {
    text-decoration: underline;
}

.portfolio-big {
    width: 96%;
    height: 680px;
    margin-left: 0.6%
}



.portfolio-thumb p {
    font-size: 12px;
    padding: 25px;
    padding-top: 0px;
    text-align: left;
    line-height: 24px;
}
