/* Dropdown Button */
.name {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; /* Ensure it takes up the full height of the navbar */
  text-decoration: none; /* Remove underline from the link */
  color: #808080; /* Text color */
  font-size: 18px; /* Adjust font size */
  letter-spacing: 0.2em;
  font-family: 'Montserrat', sans-serif;
}

.copyright {
  display: inline;
  margin-left: 25%;
}

.course {
  margin-left: 80px;
  text-align: left;
}

.footer-main {
  display: inline;
  margin-left: 34%;
}

.footer-link {
  display: inline;
}

.Navigation-bar {
  position: sticky;
  top: 0; /* Distance from the top of the viewport */
  z-index: 1000; /* Ensure it stays above other elements */
  background-color: #FFFFFF; /* Background color */
  color: #000000; /* Text color */
  padding: 10px 20px;
  height: 60px; /* Adjust height as needed */
}

@media (max-width: 768px) {
  .Navigation-bar {
    height: 50px; /* Smaller height for mobile */
  }
}

.icon {
  position: relative;
  height: 65px;
  width: 65px;
  right: 120%;
  top: 8px;
}

.treasurer{
  position: relative;
  float: left;
  bottom: 8px;
  right: 1%;
  width: 65px;
  height: 65px;
  padding-right: 15px;
}

.description{

}

.ieee{
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-left: 10%;
  font-size: 11px;
  letter-spacing: 0.3em;
}

.toc-h1 {
  text-align: center;
  list-style: none;
  text-decoration: none;
  width: auto;
}

.toc-h1 a {
  color: #333;
  padding: 5px 20px 5px 30px;
  display: block;
  font-family: 'Monteserrat', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.email {
  color: #3a92c8; /* Link light blue */
}

.array {
  display: inline;
}

.answer {
  color: white;
}

/* Code Block */
.code-block {
  position: absolute;         /* Take the child out of normal document flow */
  top: 50%;                   /* Move the child down by 50% of the parent's height */
  left: 50%;                  /* Move the child right by 50% of the parent's width */
  transform: translate(-50%, -50%); /* Adjust by 50% of the child's width and height to center */
  height: 550px;
  width: 800px;
  padding: 45px 45px 45px 0px;
  font-size: 13px;
  box-sizing: border-box;
  background-color: #383737;
}

.top-container {
  position: relative;
  height: 750px;
  width: auto;
  margin: 0 auto;
  padding: 30px;
  background-color: #E3D0AE;
  color: #fdfdfd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.middle-container {
  background-color: #ddd;
  padding-top: 25px;
  padding-bottom:2.5px;
  padding: 30px;
  max-width: 100%;
  margin: auto;

  /* Flexbox properties for centering the education section */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px; /* Set a minimum height for better centering */
}

.college-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.college-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}
.college-info h2 {
  position: relative;
  font-family: 'Monteserrat', sans-serif;
  right: 14.5%;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  padding-top: 25px;
}

.college-info p {
  position: relative;
  font-family: 'Monteserrat', sans-serif;
  right: 14.5%;
  margin: 5px 0 0;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  line-height: 1.5;
}

.college-info {
  flex: 1;
}

.education-right {
  text-align: right;
  flex: 0 0 auto;
  line-height: 1.5;
  padding-top: 25px;
  font-style: italic;
  font-family: 'Monteserrat', sans-serif;
}

.education-right p {
  margin: 0;
  font-size: 1rem;
  color: #777;
}

.relevant-coursework {
  margin-top: 20px;
}

.relevant-coursework h3 {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #333;
}

.relevant-coursework ul {
  list-style-type: disc;
  margin: 0;
  padding-left: 50px;
  color: #555;
}

.relevant-coursework li {
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
  list-style: circle;
}

.skills-section {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.skill {
  background-color: #e6e6e6;
  color: #333;
  padding: 8px 12px;
  border-radius: 20px;
  font-size: 0.9rem;
  text-align: center;
}

.bottom-container {
  padding: 10px auto 20px;
  margin: 8px auto 8px auto;
}

.workexperience-description{
  width: 50%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 50px;
  font-size: 11px;
  text-transform: uppercase;
  color: #333333;
}

.resume{
  width: 750px;
}

.resume h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}

.resume-header {
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2em;
  padding-top: 40px;
}

.resume-title{
  text-align: left;
  color: 000000;
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.3em;
}

.educationDetails{

}

.workexperience-title{
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 700;
  margin-left: 10%;
  margin-top:-120px;
  font-size: 11px;
  letter-spacing: 0.3em;
}

.resumeDescription {
  color: #333333;
  text-align: left;
  height: auto;
  margin-top: -40px;
  padding-top: 60px;
  line-height: 34px;
  margin-left: 90px;
  -webkit-font-smoothing: antialiased;
}

.skills {
  width: 50%;
  font-family: 'Open Sans', sans-serif;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skill-row{
  background-color: #EFEBEC;
  padding-top: 60px;
}

.skill {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 50px;
  font-family: 'Karla', sans-serif;
}

.skills-section {
  margin-left: -15%;
  margin-top: 0.8%;
}

.education {
  border-bottom: none;
  margin-bottom: 50px;
  width: 80%;
}

#bottom-container-header{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-right: 5%;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3em;
  padding-bottom: 50px;
  text-align: center;
}

a {
  color: #3a92c8;
  text-decoration: none;
}

body {
  margin: 0px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

#middle-container-header{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-right: 5%;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.3em;
  padding-bottom: 50px;
}

h2 {

}

h3 {
  font-family: 'Montserrat', sans-serif;
}

#frontimage img {
  margin-top: 100px;
  width: 50%;
  min-width: 800px;
}

#frontimage {
  background-color: #4C5364;
  width: 100%;
}

#console {
  background-color: #383737;
  margin: auto;
  top: 30px;
  padding: 30px 1em 30px 3em;
  font-family: 'Monaco', 'Courier New';
  font-size: 13px;
  position: relative;
  color: white;
  height: 600px;
  width: 600px;
}

#institution {
  font-size: 12px;
  position: relative;
  right: 30%;
  font-family: 'Montserrat', sans-serif;
}

#city-treasurer{
  font-size: 12px;
  white-space: nowrap;
}

#position{
  font-size: 12px;
  margin-right: 51%;
  white-space: nowrap;
  margin-right: 53.6%;
}

#Udemy {
  margin-right: 62.5%;
}

#program {
  font-size: 12px;
  position:relative;
  right: 10.24%;
  font-family: 'Montserrat', sans-serif;
}

#IEEE{
  font-size: 12px;
  white-space: nowrap;
  margin-right: 35.6%;
}

#program-web {
  margin-right: 45%;
}

#time {
  font-size: 12px;
  position: relative;
  font-family: Helvetica, Sans-Serif;
  font-style: italic;
  left: 23.5%;
}

#time-IEEE{
  font-size: 12px;
  margin-left:-5%;;
  white-space: nowrap;
}

#tools-IEEE{
  margin-left: 9%;
}

#city {
  font-size: 12px;
  position: relative;
  font-family: Helvetica, Sans-Serif;
  font-style: italic;
  left: 4%;
}

#relevantCourse {
  font-size: 14px;
  color: #333333;
  text-align: left;
  margin-left: 10%;
  white-space: nowrap;
}

#udemy-relevantCourse{
  font-size: 14px;
  color: #333333;
  text-align: left;
  margin-left:9%;
  white-space: nowrap;
}

#top-header{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}


/*Final Section*/

.inner {
    max-width: 1024px;
    margin: 0 auto;
}

.portfolio-big {
    width: 95%;
    height: 680px;
}

.portfolio-thumb {
    width: 45%;
    margin: 20px;
    background-color: white;
    display: inline-block;
}

.portfolio-thumb a {
    text-decoration: underline;
}

.portfolio-big {
    width: 95%;
    height: 680px;
}



.portfolio-thumb p {
    font-size: 12px;
    padding: 25px;
    padding-top: 0px;
    text-align: left;
    line-height: 24px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
